<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>自由追剧</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">

    <style>
        iframe {
            width: 100%;
            padding: 0;
            margin: 0;
            height: 50vh;
            overflow: hidden;
            border-width: 0px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            outline: none;
        }
    </style>

</head>
<body>

<div class="page-group" id="app">
    <div id="page-simple-card" class="page ">
        <header class="bar bar-nav">
            <h1 class="title">自由追剧</h1>
        </header>

        <div class="content">
            <div class=" content-padded">
                <div class="searchbar row">
                    <div class="search-input col-85">
                        <input type="search" id='search' placeholder='输入视频链接...'/>
                    </div>
                    <a class="button button-fill button-primary col-15" id="search-btn"><span
                            class="icon icon-search"></span></a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span id="video-name" style="width: 70%">视频名</span>
                    <a href="#" class="link pull-right open-panel">
                        选集
                        <span class="icon icon-menu"></span>
                    </a>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <iframe allowfullscreen allowusermedia id="viewer">
                        </iframe>
                        <p id="log">
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="link" id="pre-video">上一集</a>
                    <input type="hidden" id="current" value="">
                    <a href="#" class="link" id="last-video">下一集</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-right panel-reveal theme-dark" id='panel-left-demo'>
        <div class="content-block" id="detail">
            <p><a class="close-panel button">关闭</a></p>
        </div>
    </div>

</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>


<script src="/webjars/layui/2.5.5/layui.js"></script>

<script type="text/html" th:inline="none" id="model">
    <p><a class="close-panel button">关闭</a></p>
    <h2>如果没有更新集数,<a id="refresh-video-btn" data-key="{{d.body.key}}">点我更新</a></h2>
    <p>{{d.body.intro}}</p>
    <img id="cover" src="{{d.body.coverUrl}}">
    <div class="row" id="video-list">
        {{# layui.each(d.body.videos,function(i,e){ }}
        <div class="col-33">
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <a data-url="{{e.url}}" id="{{e.no.trim()}}">{{e.no}}</a>
                    </div>
                </div>
            </div>
        </div>
        {{# }); }}
    </div>
</script>
<script>
    $.init();

    //config的设置是全局的
    layui.config({
        base: '/layui/js/extends/' //假设这是你存放拓展模块的根目录
    }).extend({ //设定模块别名
        js_tools: 'js_tools'
    });

    layui.use(['form', 'js_tools', 'laytpl'], function () {
        //     var $ = layui.jquery;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var js_tools = layui.js_tools;
        var list;
        var index = 0;
        var current = 0;

        js_tools.quick_get("/admin/api/videoParseUrl/findDouble", null, function (res) {
            list = res.body;
            index = 0;
            console.log(res);
            console.log(list);
        });

        $('#search-btn').on('click', function () {
            $.showPreloader('搜索中');
            if (js_tools.isUrl($('#search').val())) {
                $('#viewer').attr('src', list[index].parseUrl + $('#search').val());
            } else {
                js_tools.quick_post("/search/iqiyi/" + $('#search').val(), null, function (res) {
                    var b = res.body;
                    //标题
                    $('#video-name').text(b.title);
                    //简介
                    laytpl($('#model').html()).render(res, function (h) {
                        $('#detail').html(h);
                    });
                });
            }
            $.hidePreloader();
        });

        function rend(o){
            $('#viewer').attr('src', list[index].parseUrl + o.data('url'));
            $('#viewer').attr('data-video-no',o.attr('id'));
            $('#log').text(o.attr('id')+'> = >'+list[index].parseUrl + o.data('url'));
            current = o.attr('id');
        }

        $('#detail').on('click', 'a[data-url]', function () {
            rend($(this));
            $.closePanel();
        });

        $('body').on('click', '#refresh-video-btn', function () {
            js_tools.quick_post("/search/iqiyi/" + $(this).data('key'), {refresh: true}, function (res) {
                var b = res.body;
                //标题
                $('#video-name').text(b.title);
                //简介
                laytpl($('#model').html()).render(res, function (h) {
                    $('#detail').html(h);
                });
            });
        });
        function jump(i){
            if ($('#'+i).length<=0){
                $.alert('没有了,可以尝试点击选集中[更新]');
                return ;
            }
            rend($('#'+i));
        }

        $('#pre-video').on('click',function () {
            jump(parseInt(current)-1);
        });
        $('#last-video').on('click',function () {
            jump(parseInt(current)+1);
        });

    });

</script>
</body>
</html>